/* color palette from <https://github.com/vuejs/theme> */
:root {
  --g-white: #ffffff;
  --g-white-soft: #f8f8f8;
  --g-white-mute: #f2f2f2;

  --g-black: #181818;
  --g-black-soft: #222222;
  --g-black-mute: #282828;

  --g-indigo: #2c3e50;

  --g-divider-light-1: rgba(60, 60, 60, 0.29);
  --g-divider-light-2: rgba(60, 60, 60, 0.12);
  --g-divider-dark-1: rgba(84, 84, 84, 0.65);
  --g-divider-dark-2: rgba(84, 84, 84, 0.48);

  --g-text-light-1: var(--g-indigo);
  --g-text-light-2: rgba(60, 60, 60, 0.66);
  --g-text-dark-1: var(--g-white);
  --g-text-dark-2: rgba(235, 235, 235, 0.64);

  --toolbar-height: 64px;
  --status-height: 24px;
  --safe-top: 24px;
  --safe-bottom: 24px;
  
  --status-bar-height: env(safe-area-inset-top);
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-right: env(safe-area-inset-right);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-left: env(safe-area-inset-left);
}

/* semantic color variables for this project */
:root {
  --background: var(--g-white);
  --background-soft: var(--g-white-soft);
  --background-mute: var(--g-white-mute);

  --border: var(--g-divider-light-2);
  --border-hover: var(--g-divider-light-1);

  --heading: var(--g-text-light-1);
  --text: var(--g-text-light-1);

  --section-gap: 160px;
}
/* 
prefers-scheme支持三个值 :
  -no-preference：无指定
  -light：亮色
  -dark：暗色

// JS查询是系统是否为暗色
matchMedia('(prefers-color-scheme: dark)').matches
*/
@media (prefers-scheme: dark) {
  :root {
    --background: var(--g-black);
    --background-soft: var(--g-black-soft);
    --background-mute: var(--g-black-mute);

    --border: var(--g-divider-dark-2);
    --border-hover: var(--g-divider-dark-1);

    --heading: var(--g-text-dark-1);
    --text: var(--g-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text);
  background: var(--background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.2;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
