:root {
  --app-theme: #007bff;
  --app-theme-dark: #0056b3;
  --app-bg: #f8f9fa;

  --color: #007bff;
  --color2: #007bff;
  --color3: #007bff;
  --color4: #007bff;
  --color5: #007bff;
  --color6: #007bff;

  --text-title: #232323;
  --text-subtitle: #676767;
  --text-value: #323232;
  --text-desc: #979797;
  --text-hint: #979797;

  --btn-color: #007bff;
  --btn-color-hover: #0056b3;

  --header-height: 50px;
  --safe-top: 24px;
  --safe-bottom: 24px;

  --status-bar-height: env(safe-area-inset-top);
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-right: env(safe-area-inset-right);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-left: env(safe-area-inset-left);
}
