/* 字体 */
.ffya {
  font-family: PingFangSC-Regular;
}

.ffyb {
  font-family: PingFangSC-Medium;
}

/* 字重 */
.fwt2 {
  font-weight: 200;
}
.fwt3 {
  font-weight: 300;
}
.fwt4 {
  font-weight: 400;
}
.fwt5 {
  font-weight: 500;
}
.fwt6 {
  font-weight: 600;
}
.fwt7 {
  font-weight: 700;
}

/* 字大小 */
.ft10 {
  font-size: 10px;
}
.ft12 {
  font-size: 12px;
}
.ft14 {
  font-size: 14px;
}
.ft16 {
  font-size: 16px;
}
.ft18 {
  font-size: 18px;
}
.ft20 {
  font-size: 20px;
}
.ft22 {
  font-size: 22px;
}
.ft24 {
  font-size: 24px;
}
.ft26 {
  font-size: 26px;
}
.ft28 {
  font-size: 28px;
}
.ft30 {
  font-size: 30px;
}
.ft32 {
  font-size: 32px;
}
.ft34 {
  font-size: 34px;
}

/* 省略 */
.ellips {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellips2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal !important;
}

/* 文本对齐 */
.ta-l {
  text-align: left;
}
.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

/* 文本颜色 */
.tc1 {
  color: #232323;
}

.tc2 {
  color: #676767;
}

.tc3 {
  color: #323232;
}

.tc4 {
  color: #979797;
}

.price {
  color: #ff4d4f;
}

.error {
  color: #ff4d4f;
}
.warn {
  color: #faad14;
}
.success {
  color: #52c41a;
}

/* 文本行高 */
.lh1 {
  line-height: 1;
}

.lh2 {
  line-height: 2;
}

.lh3 {
  line-height: 3;
}

/* 文本间距 */
.ls1 {
  letter-spacing: 1px;
}

.ls2 {
  letter-spacing: 2px;
}

.ls3 {
  letter-spacing: 3px;
}

/* 文本装饰 */
.td-u {
  text-decoration: underline;
}

.td-n {
  text-decoration: none;
}

/* 文本溢出 */
.tov {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 文本换行 */
.tn {
  white-space: normal;
}

/* 文本转换 */
.tt-u {
  text-transform: uppercase;
}

.tt-l {
  text-transform: lowercase;
}

.tt-c {
  text-transform: capitalize;
}

/* 文本阴影 */

.ts1 {
  text-shadow: 1px 1px 1px #000;
}

.ts2 {
  text-shadow: 2px 2px 2px #000;
}

.ts3 {
  text-shadow: 3px 3px 3px #000;
}

/* 文本颜色渐变 */

.tg1 {
  font-size: 28px;
  font-weight: 500;
  background: linear-gradient(299deg, #ffd8b9 5%, #dd9804 83%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
