body {
  margin: 0;
  padding: 0;
  
  display: flex;
  flex-direction: column;

  font-size: 14px;
  font-weight: 400;
  font-family: 'PingFang SC';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
