@import "./styles/ele.css";

body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  font-family: "PingFang SC";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex-direction: column;
  position: relative;
}

.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
}

.flex {
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.ellip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.opacity {
  opacity: 0.6;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
